.panel {
  background-color: blueviolet;
  margin: 1rem auto;
  border-radius: 6px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
